

<div style="padding: 20px">
  <!-- applicant card div start -->
  <div>
   
    
      <mat-card class="card">
          <mat-card-title class="card-title">
               Sugar Income Details
          </mat-card-title>
          <mat-card-content>
            <form  [formGroup]="createForm" class="create-form">
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>
                                Date  
                            </mat-label>
                            <input matInput formControlName="date" #date required  [matDatepicker]="dobDatePicker">
                            <mat-datepicker-toggle [for]="dobDatePicker" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #dobDatePicker></mat-datepicker>
                        </mat-form-field>
                        <br>
                          <mat-form-field>
                              <mat-label>
                                  Customer Name
                              </mat-label>
                              <input matInput formControlName="customerName" #customerName required>
                          </mat-form-field>
                          <br>
                          <mat-form-field>
                              <mat-label>
                                  Customer Place
                              </mat-label>
                              <input matInput formControlName="customerPlace" #customerPlace required>
                          </mat-form-field>
                          <br>
                          
                          <mat-form-field>
                            <mat-label>
                                Vehicle Number
                            </mat-label>
                            <input matInput formControlName="vehicleNumber" #vehicleNumber required>
                        </mat-form-field>
                        <br>
                        
                          <mat-form-field>
                              <mat-label>
                                  Ryot Number
                              </mat-label>
                              <input matInput formControlName="ryotNumber" #ryotNumber required>
                          </mat-form-field>
                          <br>
            
                          <mat-form-field>
                              <mat-label>
                                  Plot Number 
                              </mat-label>
                              <input matInput formControlName="plotNumber" #plotNumber required>
                          </mat-form-field>
                          <br>
                    </div>
                    
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>
                                Cost Per Ton
                            </mat-label>
                            <input matInput formControlName="costPerTon" #costPerTon required>
                        </mat-form-field>
                        <br>
                  

                        <mat-form-field>
                            <mat-label>
                                Total Tons
                            </mat-label>
                            <input matInput formControlName="totalTons" #totalTons required>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                          <mat-label>
                              Amount 
                          </mat-label>
                          <input matInput formControlName="amount"  #amount ngModel="{{costPerTon.value * totalTons.value}}" required>
                      </mat-form-field>
                      <br>
                        <mat-form-field>
                          <mat-label>
                              Advance
                          </mat-label>
                          <input matInput formControlName="advance" #advance required>
                      </mat-form-field>
                      <br>
                      <mat-form-field>
                          <mat-label>
                              Balance
                          </mat-label>
                          <input matInput formControlName="balance" ngModel="{{amount.value-advance.value}}" #balance required>
                      </mat-form-field>
                      <br>
                      <mat-form-field>
                          <mat-label>
                              Amount Given
                          </mat-label>
                          <input matInput formControlName="amountGiven" ngModel="{{advance.value}}" #amountGiven required>
                      </mat-form-field>
                      <br>
                    </div>
                </div>
           
             

            <div class="button">
                <button [disabled]="createForm.invalid" mat-raised-button color="primary" (click)="addSugarIncome(date.value,customerName.value,customerPlace.value,vehicleNumber.value,ryotNumber.value,
                plotNumber.value,costPerTon.value,totalTons.value,amount.value,advance.value,balance.value,amountGiven.value)" >Save</button>
            </div>
            </form>
          </mat-card-content>
      </mat-card>
  </div>
 
</div>  