


<div style="padding: 20px;">
  <mat-card >
    <mat-card-title>
      Full Details
    </mat-card-title>
    <mat-card-content>
     
        <li class="list-group-item ">All Details</li>
        <li class="list-group-item ">Income : {{totalIncome}}</li>
        <li class="list-group-item ">Expense  : {{totalExpense}}</li>
        <li class="list-group-item ">Profit :{{totalIncome - totalExpense}}</li>
        <li class="list-group-item ">Balance : {{ totalBalance }}</li>
      
    </mat-card-content>
  
    </mat-card>
  
  <div class="container">
      <h1>Details of All  customers </h1>
  </div>
  
  <div class="search-div">
    
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey1" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey1"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
   <div class="mat-elevation-z8 table">
      <table mat-table [dataSource]="incomeDetails1" matSort multiTemplateDataRows>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let income">{{income.date}}</td>
        </ng-container>
    
        <ng-container matColumnDef="customerName" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header sticky> Customer Name </th>
          <td mat-cell *matCellDef="let income"> {{income.customerName}}</td>
        </ng-container>
    
      
        <ng-container matColumnDef="customerPlace">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Place</th>
          <td mat-cell *matCellDef="let income"> {{income.customerPlace}}</td>
        </ng-container>
  
        <ng-container matColumnDef="billNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Bill Number</th>
          <td mat-cell *matCellDef="let income"> {{income.billNumber}}</td>
        </ng-container>
  
        <ng-container matColumnDef="numberOfAcre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No.of.Acres </th>
          <td mat-cell *matCellDef="let income"> {{income.numberOfAcre}}</td>
        </ng-container>
        <ng-container matColumnDef="costPerAcre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost per Acres </th>
          <td mat-cell *matCellDef="let income"> {{income.costPerAcre}}</td>
        </ng-container>
  
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </th>
          <td mat-cell *matCellDef="let income"> {{income.totalAmount}}</td>
        </ng-container>
  
        <ng-container matColumnDef="advance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Advance </th>
          <td mat-cell *matCellDef="let income"> {{income.advance}}</td>
        </ng-container>
  
        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
          <td mat-cell *matCellDef="let income"> {{income.balance}}</td>
        </ng-container>
  
        <ng-container matColumnDef="amountGiven">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount Given </th>
          <td mat-cell *matCellDef="let income"> {{income.amountGiven}}</td>
        </ng-container>


        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let income" [attr.colspan]="displayedColumns1.length">
            <div class="example-element-detail"
                 [@detailExpand]="income == expandedElement ? 'expanded' : 'collapsed'">
                <div class="alert alert-danger col-lg-8" role="text">
                  
                  <h2 class="font-text-bold text-center">Customer Details : {{income.customerName}}</h2>
                  <h4 class="font-text-bold" > Date : {{income.date}} </h4>
                <h4 class="font-text-bold " > Bill Number : {{income.billNumber}} </h4>
                <h4 class="font-text-bold " > Customer Name : {{income.customerName}} </h4>
                <h4 class="font-text-bold " > Customer Place : {{income.customerPlace}} </h4>
                <h4 class="font-text-bold " >  Number Of Acre : {{income.numberOfAcre}} </h4>
                <h4 class="font-text-bold " >Cost Per Acre : {{income.costPerAcre}} </h4>
                <h4 class="font-text-bold " > Total Amount : {{income.totalAmount}} </h4>
                <h4 class="font-text-bold " > Advance : {{income.advance}} </h4>
                <h4 class="font-text-bold " > Balance : {{income.balance}} </h4>
                <h4 class="font-text-bold "  > Amount Given :  {{income.amountGiven}} </h4> 
                </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading data...
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No data.
          </mat-footer-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let income; columns: displayedColumns1;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === income"
            (click)="expandedElement = expandedElement === income ? null : income">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="5" showFirstLastButtons></mat-paginator> -->
  <hr>
                                            <!-- Expense Table -->
 
 
    <div class="container">
      <h1>Details of Expense </h1>
  </div>
  
  <div class="search-div">   
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey2" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey2"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="expenseDetails1" matSort multiTemplateDataRows>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let expense">{{expense.date}}</td>
        </ng-container>
    
        <ng-container matColumnDef="driverName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver Name </th>
          <td mat-cell *matCellDef="let expense"> {{expense.driverName}}</td>
        </ng-container>
    
      
        <ng-container matColumnDef="managerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager Name</th>
          <td mat-cell *matCellDef="let expense"> {{expense.managerName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="driverSalary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver Salary</th>
          <td mat-cell *matCellDef="let expense"> {{expense.driverSalary}}</td>
        </ng-container>
  
        <ng-container matColumnDef="managerSalary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Manager salary</th>
          <td mat-cell *matCellDef="let expense"> {{expense.managerSalary}}</td>
        </ng-container>
        <ng-container matColumnDef="petrol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Petrol </th>
          <td mat-cell *matCellDef="let expense"> {{expense.petrol}}</td>
        </ng-container>
  
        <ng-container matColumnDef="diesel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Diesel </th>
          <td mat-cell *matCellDef="let expense"> {{expense.diesel}}</td>
        </ng-container>
  
        <ng-container matColumnDef="service">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Service </th>
          <td mat-cell *matCellDef="let expense"> {{expense.service}}</td>
        </ng-container>
  
        <ng-container matColumnDef="spare">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Spare </th>
          <td mat-cell *matCellDef="let expense"> {{expense.spare}}</td>
        </ng-container>
  
        <ng-container matColumnDef="foodCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Food Cost </th>
          <td mat-cell *matCellDef="let expense"> {{expense.foodCost}}</td>
        </ng-container>
  
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </th>
          <td mat-cell *matCellDef="let expense"> {{expense.totalAmount}}</td>
        </ng-container>
    
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let expense" [attr.colspan]="displayedColumns2.length">
            <div class="example-element-detail"
                 [@detailExpand]="expense == expandedElement2 ? 'expanded' : 'collapsed'">
              <div class="alert alert-danger col-lg-8" role="text" >
                <h2 class="font-text-bold text-center">Customer Details : {{expense.driverName}}</h2>
                <h4 class="font-text-bold" > Date : {{expense.date}} </h4 >
                <h4 class="font-text-bold" > Driver Name : {{expense.driverName}} </h4 >
                <h4 class="font-text-bold" > Driver Salary : {{expense.driverSalary}} </h4 >
                <h4 class="font-text-bold" > Manager Name : {{expense.managerName}} </h4 >
                <h4 class="font-text-bold" >  Manager Salary : {{expense.managerSalary}} </h4 >
                <h4 class="font-text-bold" >Petrol : {{expense.petrol}} </h4 >
                <h4 class="font-text-bold" > Diesel : {{expense.diesel}} </h4 >
                <h4 class="font-text-bold" > Service: {{expense.service}} </h4 >
                <h4 class="font-text-bold" > Spare : {{expense.spare}} </h4 >
                <h4 class="font-text-bold" > Food Cost : {{expense.foodCost}} </h4 >
              <h4 class="font-text-bold"> Total Amount  : {{expense.totalAmount}}</h4 >
              </div>
            </div>
          </td>
        </ng-container>
            
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let expense; columns: displayedColumns2;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement2 === expense"
            (click)="expandedElement2 = expandedElement2 === expense ? null : expense">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
    
</div>
